<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>layout</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="libs/jquery.custom-scrollbar.css">
	<link rel="stylesheet" href="libs/slick.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="nav_wrapper">
				<div class="logo_section">
					<div class="logo">layout</div>
				</div>			
				<div class="nav_section">
					<nav class="nav">
						<ul class="nav_list">
							<li class="nav_item"><a class="nav_link" href="">html</a></li>
							<li class="nav_item"><a class="nav_link" href="">css</a></li>
							<li class="nav_item"><a class="nav_link" href="">javascript</a></li>
						</ul>
					</nav>
				</div>			
				<div class="enter_section">
					<a class="custom_button" href="">enter</a>
				</div>
			</div>
		</div>
	</header>
	<div class="slick_slide">
		<div>
			<div class="layer">
				<h1>Monetize<br>your skills now!</h1>
				<a class="custom_button layerbut" href="">go!</a>
			</div>
			<img src="images/item-slid.jpg" alt="photo slide">
		</div>
		<div>
			<div class="layer">
				<h1>Monetize<br>your skills now!</h1>
				<a class="custom_button layerbut" href="">go!</a>
			</div>
			<img src="images/item-slid.jpg" alt="photo slide">
		</div>
		<div>
			<div class="layer">
				<h1>Monetize<br>your skills now!</h1>
				<a class="custom_button layerbut" href="">go!</a>
			</div>
			<img src="images/item-slid.jpg" alt="photo slide">
		</div>
		<div>
			<div class="layer">
				<h1>Monetize<br>your skills now!</h1>
				<a class="custom_button layerbut" href="">go!</a>
			</div>
			<img src="images/item-slid.jpg" alt="photo slide">
		</div>
		<div>
			<div class="layer">
				<h1>Monetize<br>your skills now!</h1>
				<a class="custom_button layerbut" href="">go!</a>
			</div>
			<img src="images/item-slid.jpg" alt="photo slide">
		</div>
	</div>
	<div class="container mrg">
		<div class="content_section">
			<div class="content-left">
				<div class="about">
					<h2>Something about you</h2>
					<p>Целеустремленный front-end разработчик с опытом создания веб-приложений. Сотрудничаю с Израилем,Украиной и Россией. Участник разработки крупного мемориального портала. Частый гость developers сообществ. Гибкость в рабочей среде, которая подойдет для стартапов, digital агентств и компаний. Ориентирован на работу с командой, для разработки пользовательского интерфейса для крупных веб-сайтов CMS или клиентских веб-приложений. Всегда нахожу общий язык в команде, всегда стараюсь избегать конфликтные ситуации. Люблю работать с новыми технологиями.</p>
				</div>
			</div>
			<div class="content_right">
				<div class="img_block">
					<img src="images/lX6nDiInk-o.jpg" title="My photo" alt="Ivanov Vladislav">
				</div>
			</div>
		</div>
	</div>
	<div class="full_section">
		<div class="container flex_wrap">
			<div class="send">
				<h4>Register</h4>
				<form>
					<div class="form_row">
						<input class="fild" type="text" placeholder="Email">
					</div>
					<div class="form_row">
						<input class="fild" type="text" placeholder="Password">
					</div>
					<div class="form_row">
						<select name="number" id="number">
							<option value="" selected="selected" class="Country">Country</option>
							<option value="">Country 1</option>
							<option value="">Country 2</option>
							<option value="">Country 3</option>
							<option value="">Country 4</option>
							<option value="">Country 5</option>
						</select>
					</div>
					<div class="form_row">
						<input class="custom_button formBtn" type="submit" value="enter">
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="footer_copyright"><p>© 2015 layout</p></div>
	</footer>
	<script src="libs/jquery.min.js"></script>
	<script src="libs/jquery.custom-scrollbar.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="libs/slick.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" 
	integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<script src="js/script.js"></script>
</body>
</html>