html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
*, a:active, a:hover {
    outline: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
select:focus {
    outline: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #444444;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    height: 44px;
    background: #2c3e50;
}

.nav_wrapper {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 25px;
    font-weight: 900;
    color: #27ae60;
    background: #ffffff;
    text-transform: uppercase;
    padding: 10px 23px;
}

.nav_list {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav_link {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.custom_button {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 34px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    background: rgb(39,174,96); 
    background: -moz-linear-gradient(top, rgb(39,174,96) 1%, rgb(36,161,89) 52%, rgb(35,157,87) 100%, rgb(32,124,202) 100%);
    background: -webkit-linear-gradient(top, rgb(39,174,96) 1%,rgb(36,161,89) 52%,rgb(35,157,87) 100%,rgb(32,124,202) 100%); 
    background: linear-gradient(to bottom, rgb(39,174,96) 1%,rgb(36,161,89) 52%,rgb(35,157,87) 100%,rgb(32,124,202) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27ae60', endColorstr='#207cca',GradientType=0 ); 
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    border-radius: 2px;
}
 
.custom_button:hover {
    background: #36c773;
}

.slick-list {
    max-height: 420px;
}

.slick_slide {
    margin-bottom: 45px;
}

.slick-slide {
    position: relative;
}

.layer {
    position: absolute;
    top: 20%;
    right: 27.3%;
}

.layer h1 {
    text-align: center;
    color: #555555;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.1;
}

.layerbut {
    margin: 0 auto;
    width: 80px;
    height: 40px;
    font-size: 20px;
}

.slick-slide img {
    width: 100%;
    max-width: 100%;
}

.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: -35px;
}

.slick-dots li {
    margin: 0 2px;
}

.slick-dots li button {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: rgba(44, 62, 80, 0.50);
    border: 0;
    overflow: hidden;
    text-indent: -9999em;
    padding: 0;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background: #2c3e50;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: none;
    border: 0;
    cursor: pointer;
    color: #2c3e50;
}

.slick-prev {
    left: 224px;
}

.slick-next {
    right: 303px;
}

.content_section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about {
    max-width: 460px;
}

.about h2 {
    color: #2c3e50;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 31px;
}

.about p {
    color: #444444;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

.img_block {
    width: 380px;
    height: 480px;
    overflow: hidden;
}

.img_block img {
    max-width: 100%;
}

.mrg {
    margin-bottom: 125px;
}

.full_section {
    background: url(../images/submit-bg.jpg) no-repeat scroll 0px transparent;
    background-size: cover;
    height: 520px;
}

.flex_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.send {
    background: #ffffff;
    height: 360px;
    width: 460px;
    padding: 25px 80px;
    border-radius: 2px;
}

.send h4 {
    margin-bottom: 23px;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    color: #555555;
}

.form_row {
    margin-bottom: 10px;
}

.form_row .fild {
    width: 100%;
    height: 50px;
    background: #f5f5f5;
    border-radius: 2px;
    border: 0;
    border-top: 1px solid #c4c4c4;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.ui-menu-item:first-child {
    display:none;
}

.ui-selectmenu-button.ui-button {
    text-align: left;
    white-space: nowrap;
    width: 14em;
    width: 100%;
    border: 0;
    border-top: 1px solid #c4c4c4;
    height: 50px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #6a6a6a;
    font-weight: 300;
    background: #f5f5f5!important;
}

.ui-selectmenu-button.ui-button:active {
    background: #f5f5f5;
}

.ui-widget.ui-widget-content {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
}

.ui-menu-item {
    background: #ffffff;
    border-bottom: 1px solid #c4c4c4!important;
    border: 0;
    color: #6a6a6a;
    font-weight: 300;
}

.ui-menu-item:last-child {
    border-bottom: none!important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #ffffff;
    border: 0;
    color: #6a6a6a;
    font-weight: 300;
    margin: 0;
}

.ui-menu-item div {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px!important;
    height: 50px;
    color: #6a6a6a;
    font-weight: 300;
}

.form_row select option{
    font-size: 20px;
    color: #6a6a6a;
    font-weight: 300;
}

.overflow {
    max-height: 150px;
}

.ui-selectmenu-text {
    display: flex;
    align-items: center;
    height: 100%;
}

.ui-button .ui-icon {
    background-image: url(../images/arrow-sel.png);
    background-repeat: no-repeat;
    background-position: center;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
    background-image: url(../images/arrow-sel.png);
    background-repeat: no-repeat;
    background-position: center;
}

.ui-icon {
    width: 13px;
    height: 30px;
}

.ui-button {
    padding: .4em 0.8em;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    background: transparent;
}


#number-menu::-webkit-scrollbar {
    width: 3px;
    background: #dddddd;
}

#number-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px #555555;
}

#number-menu::-webkit-scrollbar-thumb {
    background-color: #555555;
}


.fild::-webkit-input-placeholder {
    color: #6a6a6a;
    font-weight: 300;
}

::-webkit-select-placeholder {
    color: #6a6a6a;
    font-weight: 300;
}

.fild::-moz-placeholder { 
    color: #6a6a6a;
    font-weight: 300;
}
.fild:-ms-input-placeholder { 
    color: #6a6a6a;
    font-weight: 300;
}
.fild:-moz-placeholder { 
    color: #6a6a6a;
    font-weight: 300;
}

.formBtn {
    border: 0;
    cursor: pointer;
    padding: 0!important;
    margin: 0 auto;
    width: 120px;
    height: 50px;
    font-size: 20px;
}

.footer {
    height: 44px;
    background: #2c3e50;
}

.footer_copyright {
    text-align: center;
    line-height: 3;
}

.footer_copyright p {
    color: #ffffff;
    font-size: 15px;
}

@media (max-width: 979px) { 
    .layer {
        top: 10%;
        right: 10%;
    } 
}

@media (max-width: 878px) { 
    .content_section {
        flex-wrap: wrap;
    }
    .content-left {
        order: 2;
    }
    .content_right {
        margin-bottom: 20px;
    }
    .about {
        max-width: 100%;
    }   
}

@media (max-width: 710px) { 
    .layer {
        display: none;
    } 
}

@media (max-width: 480px) { 
    .img_block {
        width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 424px) { 
    .nav_section {
        display: none;
    }
}